extends layout

block content
  //- div(class='row')
  h2= title

  p Welcome to another #[em Item Catalog App], a basic Express CRUD website.
  
  h3 App stats

  //- div(class='row')
  if error
    p Error getting dynamic content.
  else
    p The catalog has the following record counts:

      ul
        li #[strong Users:] !{data.user_count}
        li
          a(href='/catalog/categories') #[strong Categories:] !{data.category_count}
        li #[strong Items:] !{data.item_count}
