extends layout

block content
  //- div(class='row')
  h2= title

  p Welcome to #[em Item Catalog App], a very basic Express CRUD website.
  
  h3 Usage stats

  //- div(class='row')
  if error
    p Error getting dynamic content.
  else
    p The catalog has the following record counts:

      ul
        li #[strong Users:] !{data.user_count}
        li
          a(href='/catalog/categories') #[strong Categories:] !{data.category_count}
        li
          a(href='/catalog/items') #[strong Items:] !{data.item_count}
