extends layout

block content

  h3= title

  form(method='POST', action='')
    div.form-group
      label(for='username') Email or username
      input#userDetail.form-control(type='text' placeholder='Email or username' name='userDetail' required=true)
      label(for='password') Password
      input#password.form-control(type='text' placeholder='Password' name='password' required=true)
    button.btn.btn-primary(type='submit') Login
